tensorflow
sklearn~=0.0
numpy~=1.18.5
scipy
matplotlib~=3.2.1
tqdm~=4.46.1
r2pipe~=1.5.3
pyfiglet~=0.8.post1
torch~=1.5.0+cu101
nltk~=3.5
keras~=2.3.1
gensim~=3.8.3
scikit-multilearn~=0.2.0
pip~=21.0.1
wheel~=0.34.2
cryptography~=3.4.6
lxml~=4.6.2
setuptools~=41.2.0
Cython~=0.29.14
tensorflow-gpu~=2.2.0
scikit-learn~=0.23.1
pandas~=1.0.4
requests~=2.23.0
parse~=1.15.0